<app-header></app-header>
<p>
  Onderstaand formulier wordt gebruikt om een event aan te maken. Bij het aanmaken komt dit automatisch bij in onderstaande lijst
</p>
<app-new-event (insertEvent)="refreshList()"></app-new-event>

<table>
    <tr>
        <th>Name</th>
        <th>Speaker</th>
        <th>Location</th>
        <th>Level</th>
        <th>Update</th>
    </tr>

    <tr *ngFor="let event of events; let i=index">
      <td>{{event.name}}</td>
      <td>{{event.speaker}}</td>
      <td>{{event.location}}</td>
      <td>{{event.level}}</td>
      <td><button (click)="triggerUpdate(i)">Update</button></td>
    </tr>
  </table>

  <app-update-event *ngIf="isUpdating" [event]="updatingEvent" (updateEvent)="finishUpdate($event)"></app-update-event>